body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: #d1d3e0;
  width: calc(100% - 33px);
}

canvas {
  position: absolute;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.result-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result-container > div {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin: 5px 0;
  color: white;
  text-transform: capitalize;
  border-radius: 50px;
  width: 120px;
  text-align: center;
}
#age {
  background: #60aecb;
}
#emotion {
  background: #813275;

}
#gender {
  background: #40c38b;

}
video {
  width: 100%;
}
header {
  background: #866abe;
  color: white;
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}